<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../header.ejs %>
  </head>
  <body>
    <div class="navigationBar">
      <div class="buttons">
        <% if (!user) { %>
          <a href="/users/new"><button type="button">회원가입</button></a>
          <a href="/login"><button type="button" class="lineBtn">로그인</button></a>
        <% } else { %>
          <a href="/users"><button type="button" class="<%= user.admin === true ? 'admin' : '' %>"><%= user.name %>님</button></a>
          <a href="/logout"><button type="button">로그아웃</button></a>
        <% } %>
      </div>
      <form id="editNotice" class="noticeForm" action="/notice/<%= post._id %>" method="post">
        <input type="text" name="notice[title]" value="<%= post.title %>" placeholder="제목을 입력하세요" autocomplete="title" class="noticeNewTitle"></input><br />
        <textarea type="textarea" name="notice[body]" placeholder="내용을 입력하세요" autocomplete="body" style="margin-left: 30px; width: calc(100% - 100px);"><%= post.body %></textarea><br />
        <button type="submit" class="lineBtn" style="float: right; margin-right: 30px;">수정</button>
        <a href="javascript:history.back()" style="float: right; margin-right: 10px;"><button type="button">Back</button></a>
        <a href="/" style="float: right; margin-right: 10px;"><button type="button">Home</button></a>
      </form>
    </div>
    <% include ../scripts.ejs %>
  </body>
</html>
