<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../header.ejs %>
  </head>
  <body>
    <div class="navigationBar">
      <% include ../head.ejs %>
    </div>
    <div class="buttons" style="padding-right: 10px;">
      <a href="/"><button type="button">Home</button></a>
      <% if (user && user.admin === true) { %>
        <a href="/notice/new" style="margin-right: 10px; float: right;"><button type="button" class="lineBtn">Write</button></a>
      <% } %>
    </div>
    <% Array.prototype.forEach.call(posts, function(item) { %>
      <a href="/notice/<%= item._id %>" style="width: calc(100% - 22px);">
        <button type="button" class="noticeBlock" style="display: block; width: 100%;">
          <div class="upper">
            <label class="title"><%= item.title %></label>
            <div class="author authorPack">
              <div class="author" style="<%= item.author.admin === true ? 'font-weight: bold;' : '' %>"><i class="fas fa-pen" style="margin: 0 10px;"></i><%= item.author.name %></div>
              <div class="author"><i class="fas fa-calendar-day" style="margin: 0 10px;"></i><%= item.createdAt.getFullYear() %>-<%= item.createdAt.getMonth() + 1 < 10 ? '0' + (item.createdAt.getMonth() + 1) : (item.createdAt.getMonth() + 1) %>-<%= item.createdAt.getDate() < 10 ? '0' + item.createdAt.getDate() : item.createdAt.getDate() %></div>
              <div class="author"><i class="fas fa-eye" style="margin: 0 10px;"></i><%= item.views %></div>
              <% if (item.like.length > 0) { %>
                <div class="author"><i class="far fa-thumbs-up"></i><%= item.like.length %></div>
              <% } %>
            </div>
          </div>
          <div class="bottom" style="margin-top: 10px; width: 100%; text-align: left;">
            <label class="body" style="height: 20px; overflow: hidden; display: inline-block;"><%= item.body.replace(/(\<.*?\>)/g, '').substr(0, 60) + (item.body.replace(/(\<.*?\>)/g, '').length < 60 ? '' : '...') %></label>
          </div>
        </button>
      </a>
    <% }); %>
    <% include ../scripts.ejs %>
  </body>
</html>
