<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../header.ejs %>
  </head>
  <body onload="likeInit('<%= user ? user._id : '' %>', '<%= post._id %>', 'n'); likeReq();">
    <div class="navigationBar">
      <% include ../head.ejs %>
    </div>
    <div style="margin: 10px; margin-bottom: 30px; text-align: center;"><label style="font-size: 25px;"><%= post.title %></label></div>
    <div class="propertyContainer">
      <div class="property">
        <button type="button" class="icon"><i class="fas fa-calendar-day"></i></button>
        <label><%= post.createdAt.getFullYear() %>-<%= post.createdAt.getMonth() + 1 < 10 ? '0' + (post.createdAt.getMonth() + 1) : (post.createdAt.getMonth() + 1) %>-<%= post.createdAt.getDate() < 10 ? '0' + post.createdAt.getDate() : post.createdAt.getDate() %> <%= post.createdAt.getHours() < 10 ? '0' + post.createdAt.getHours() : post.createdAt.getHours() %>:<%= post.createdAt.getMinutes() < 10 ? '0' + post.createdAt.getMinutes() : post.createdAt.getMinutes()%></label>
      </div>
      <div class="property" style="<%= post.author.admin === true ? 'font-weight: bold; ' : '' %>">
        <button type="button" class="icon"><i class="fas fa-pen"></i></button>
        <a href="/users/<%= post.author._id %>"><button type="button" style="font-weight: bold; display: inline-block; margin: 0; padding: 10px 15px;"><%= post.author.name %></button></a>
      </div>
      <div class="property">
        <button type="button" class="icon"><i class="fas fa-eye"></i></button>
        <label><%= post.views %></label>
      </div>
    </div>
    <div style="margin: 10px; margin-top: 100px; margin-bottom: 50px; white-space: pre-wrap;"><% var e = post.body, u = post.author; %><% include ../body.ejs %></div>
    <div class="likeButton">
      <div class="likeContainer">
        <% if (user) { %>
          <button type="button" class="like lineBtn" onclick="like();">Like</button>
        <% } else { %>
          <a href="/login"><button type="button" class="lineBtn">Like</button></a>
        <% } %>
      </div>
      <label class="likeLabel" onclick="showLikes();"></label>
    </div>
    <div class="buttons">
      <a href="/notice" style="float: right;"><button type="button" class="lineBtn">목록</button></a>
      <% if (user && (post.author._id.toString() == user._id.toString() || user.admin === true)) { %>
        <a href="/notice/<%= post._id %>/delete" style="float: right;"><button type="button" style="background-color: #d93025; color: white;">삭제</button></a>
        <a href="/notice/<%= post._id %>/edit" style="float: right;"><button type="button">수정</button></a>
      <% } %>
    </div>
    <% include ../scripts.ejs %>
    <script type="text/javascript" src="/js/like.js"></script>
  </body>
</html>
